@import url(http://fonts.googleapis.com/css?family=Vollkorn:400,400italic,700,700italic&subset=latin);

html, body {
        padding:1em;
        margin:auto;
        max-width:50em;
        background: snow;
	}
body {
	font: 1.3em "Vollkorn", Palatino, Times;
	color: #333;
	line-height: 1.4;
	text-align: justify;
	}
header, nav, article, footer {
	width: 700px;
	margin:0 auto;
	}
article {
	margin-top: 4em;
	margin-bottom: 4em;
	min-height: 400px;
	}
footer {
	margin-bottom:50px;
	}
video {
	margin: 2em 0;
	border:1px solid #ddd;
	}

nav {
	font-size: .9em;
	font-style: italic;
	border-bottom: 1px solid #ddd;
	padding: 1em 0;
	}
nav p {
	margin: 0;
	}

#contentsWrapper {
	position: absolute;
	top: 1.5em;
	left: -319px;
	margin-left: 0.25em;
	height: 100%;
}

#contentsWrapper.fixed {
	position: fixed;
	top: 1.5em;
}
#contentsTab
{
    position: relative;
    top: 2.25em;
    left: -1.45em;
    border-bottom: none;
    background-color: blanchedAlmond;
    color: black;
    float: left;
    margin: 0px;
    padding: 0.5em 0.5em 0.25em 0.5em;
    text-align: center;
    -webkit-transform: rotate(90deg);
       -moz-transform: rotate(90deg);
    -webkit-border-radius: 6px 6px 0px 0px;
       -moz-border-radius: 6px 6px 0px 0px;
            border-radius: 6px 6px 0px 0px;
}

#contents{
	position: relative;
	float: left;
	border: 2px solid #AF9EA8;
	font-size: 60%;
	padding: 0 0.5em;
	max-width: 300px;
	border-radius: .6em;
	overflow: hidden;
	background-color: snow;
	-webkit-border-radius: .6em;
	   -moz-border-radius: .6em;
                border-radius: .6em;
}

#contents div {
	margin: 10px 0;
}


/* Typography
-------------------------------------------------------- */

pre, code {
	font-family: "Consolas", "Menlo", "Monaco", monospace, serif;
	font-size: .9em;
}

h1 {
	margin-top: 0;
	font-weight: normal;
	}
h2 {
	font-weight: normal;
	}
h3 {
	font-weight: normal;
	font-style: italic;
	margin-top:3em;
	}

a {
    color: #2484c1;
    text-decoration: none;
}
a:visited {
    color: navy;
}
a:hover {
    text-decoration: underline;
}

a img {
	border:none;
	}
h1 a, h1 a:hover {
	color: #333;
	text-decoration: none;
	}

pre {
    border-width: 1px;
    border-color: #777;
    border-style: solid;
    border-radius: 10px;
    -moz-border-radius: 10px;	
    padding: 0.5em;
    background-color: #111;
    overflow: auto;
    color: #CCC;
}

pre code {
    background-color: #111;
}

code {
    background-color: #F0E8E8;
    padding: 3px;
    border-radius: 6px;
    -moz-border-radius: 6px;	
}

p, li {
    font-size: 1em;
    line-height: 1.1em;
}

table {
    margin-top: 1em;
    background: #f6f6f6;
    border: 1px solid #ccc;
    border-collapse: collapse;
}

th, td {
    padding: 5px 10px 5px;
}

thead {
    background: #e6e6e6;
    text-align: left;
}

th, td {
    border: 1px solid #ccc;
}

#toc h2 {
    cursor: pointer;
    border-bottom: 2px solid #AF9EA8;
    text-align: center;    
}

li.H2 {
    margin-left: 1em;
}
li.H3 {
    margin-left: 2em;
}
li.H4 {
    margin-left: 3em;
}
li.H5 {
    margin-left: 4em;
}
li.H6 {
    margin-left: 5em;
}

/* Two Column */
/* Columns don't appear to work in IE */
.col2 {
	-moz-column-count: 2; /* Firefox */
	-webkit-column-count: 2; /* Safari and Chrome */
	column-count: 2;

	-moz-column-gap: 40px; /* Firefox */
	-webkit-column-gap: 40px; /* Safari and Chrome */
	column-gap: 40px;

	-moz-column-rule: 1px outset #000; /* Firefox */
	-webkit-column-rule: 1px outset #000; /* Safari and Chrome */
	column-rule: 1px outset #000;
}

/* span h1, h2, and hr across all columns
      said not to work in firefox or IE   */
h1, h2, hr {
	-webkit-column-span: all; /* Chrome */
	-moz-column-span: all;
	column-span: all;
}

/* Elements copied from CamenDesign.com  -  http://camendesign.com/design/  */
/* --- quotes ----------------------------------------------------------------------------------------------------------- */
q				{font-style: italic;}

blockquote			{position: relative; margin: 19px 40px 0px;
				 font: 16px/19px Baskerville, Georgia, serif; color: #666;}
blockquote:before,		/* large quotes, top and bottom */
 blockquote:after		{display: block; height: 38px; overflow: hidden;
				 font: 72px/76px "Baskerville Old Face", Georgia, serif;}
blockquote:before		{content: "\201C"; margin-left: -40px; margin-bottom: -40px; line-height: 64px;}
blockquote:after		{content: "\201D"; float: right; margin-top: -45px; margin-right: -40px;
				 /* compatibility with Firefox 3.0 / Camino 2: */
				 padding-left: 10px; margin-left: 100%;}

blockquote>p+p			{text-indent: 0;}
blockquote>cite			{display: block; margin-bottom: 19px; font-size: 13px;}
blockquote>cite:last-child	{text-align: right;}

/* --- typographical flourishes ----------------------------------------------------------------------------------------- */
/* drop cap */
article>section:first-of-type
 >p:first-of-type:first-letter,
 hr+p:first-letter		{display: block; float: left; padding: 8px 2px 0 0;
				 font: 40px/24px Baskerville, "Times New Roman", serif;}

/* book like `<hr />` “thematic break”, i.e. “---------- ♦ ----------” */
hr				{margin: 0 20% 55px; padding: 19px 0; line-height: 38px;
				 border: none; border-bottom: 1px solid black; text-align: center;
				 color: inherit; background-color: inherit;}
hr:before			{content: "\25C6"; display: inline-block; float: left; position: relative; left: -8px;
				 margin: 0 50%; padding: 0 4px; background-color: #fffafa; cursor: default; }
				 

/* === white space ====================================================================================================== */
/* some typographical / vertical space adjustments for prettiness */

/* if an image is first in an article, increase the space below,
   e.g. <camendesign.com/code/uth7_floaty-abbrs> */
section>h1+img			{margin-bottom: 38px;}

/* don’t double-space with headings */
h1+h2, h2+h3, hr+h2, hr+h3,
 dl+h2, dl+h3, img+h2, img+h3	{padding-top: 0;}

/* odd spacing cases with `<hr />` */
dl+hr				{margin-top: -19px;}
section, figure			{/* required to get the diamond to inherit a background */
				 background-color: white;}
/* iPad
-------------------------------------------------------- */
@media only screen and (max-device-width: 1024px) {
body {
	font-size: 120%;
	line-height: 1.4;
	}
} /* @iPad */

/* iPhone
-------------------------------------------------------- */
@media only screen and (max-device-width: 480px) {
body {
	text-align: left;
	}
article, footer {
	width: auto;
	}
article {
	padding: 0 10px;
	}
#contents {
	display: none;
	}
} /* @iPhone */

